{% extends 'base.html' %}

{% block main %}
{% for uuid, topic in topics %}
<div class="nav nav-stacked" id="{{ uuid }}">
    <div class="panel">
        <div>
          <div class="row">
              <div class="col-lg-8">
                <a data-toggle="collapse" data-parent="#{{ uuid }}" href="#link_{{ uuid }}">
                  {{ forloop.counter }}. {{ topic.title }}
                </a>
                <a class="glyphicon glyphicon-thumbs-up" href="{% url 'vote' uuid 'upvotes' %}">{{ topic.upvotes }}</a>
                <a class="glyphicon glyphicon-thumbs-down" href="{% url 'vote' uuid 'downvotes' %}">{{ topic.downvotes}}</a>
              </div>
              <div class="col-lg-4 text-right">
                <span>{{ topic.datetime | date:'Y-m-d H:i' }}</span>
              </div>
          </div>
        </div>
        <div id="link_{{ uuid }}" class="panel-body collapse">
          {{ topic.content }}
        </div>
    </div>
</div>
{% endfor %}
{% if not request.GET.all %}
  <hr />
  <a class="btn btn-primary" href="{% url 'index' %}?all=true">Show All</a>
{% endif %}
{% endblock main %}
