{% extends 'base.html' %}

{% block main %}
{% for uuid, topic in topics %}
<ul class="nav nav-stacked" id="{{ uuid }}">
    <li class="panel">
        <div>
          <a data-toggle="collapse" data-parent="#{{ uuid }}" href="#link_{{ uuid }}">
            {{ forloop.counter }}. {{ topic.title }}
          </a>
          <a class="glyphicon glyphicon-thumbs-up" href="{% url 'vote' uuid 'upvotes' %}">{{ topic.upvotes }}</a>
          <a class="glyphicon glyphicon-thumbs-down" href="{% url 'vote' uuid 'downvotes' %}">{{ topic.downvotes}}</a>
        </div>
        <div id="link_{{ uuid }}" class="panel-body collapse">
          {{ topic.content }}
        </div>
    </li>
</ul>
{% endfor %}
{% if not request.GET.all %}
  <hr />
  <a class="btn btn-primary" href="{% url 'index' %}?all=true">Show All</a>
{% endif %}
{% endblock main %}
